<!DOCTYPE html>
<html class="full">
	<head>
	  <title>Oogway's List</title>
	<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
	
	  <%= stylesheet_link_tag    'application', media: 'all'%>
	  <%= javascript_include_tag 'application'%>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag %>
	</head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
		<%= yield %>
	</body>

</html>